* Homogeneous means of same type.
* Examples of collections with homogeneous elements.
  * Collection of employees - `list`
  * Collection of unique employees - `set`
  * Collection of integers - `list`
  * Collection of unique integers - `set`
* Based up on the requirement we should use appropriate type of collection.
* `list`
  * Group of homogenous elements.
  * There can be duplicates in the `list`.
  * `list` can be created by enclosing elements in `[]` - example `[1, 2, 3, 4]`.
  * Empty `list` can be initialized using `[]` or `list()`.
* `set`
  * Group of homogenous elements
  * No duplicates allowed in the `set`. Even if you add same element more than once, such elements will be ignored.
  * `set` can be created by enclosing elements in `{}` - example `{1, 2, 3, 4}`.
  * Empty `set` can be initialized using `set()`. We cannot initialize empty set using `{}` as it will be treated as empty `dict`.
* `list` and `set` can be analogous to Table with columns and rows while `dict` and `tuple` can be analogous to a row with in a table.
* `list` can hold duplicate values while `set` can only hold unique values.
* If you want to have a row with column names then we use `dict` otherwise we use `tuple`.


##### we can insert element of different types in a list or set however we should use dict and tuple for that purpose

In [1]:
li = [1,2,'a']

In [2]:
li

[1, 2, 'a']

In [3]:
s = set() # Initializing empty set

In [4]:
type(s)

set

In [5]:
s = {} # s will be of type dict

In [6]:
type(s)

dict

##### commonly used functions


* `in` - check if element exists
* `len` - to get the number of elements.
* `sorted` - to sort the data (original collection will be untouched). Typically, we assign the result of sorting to a new collection.
* `sum`, `min`, `max`, etc - arithmetic operations.

##### sort() vs sorted()

`sort()` is in place, actual list gets sorted

`sorted()` is not in place. A new list is created

In [7]:
l = [4, 2, 3, 1]

In [8]:
sorted(l)

[1, 2, 3, 4]

In [9]:
l

[4, 2, 3, 1]

In [10]:
l.sort()

In [11]:
l

[1, 2, 3, 4]

##### Adding to a list

* `append` - to add elements at the end of the list.
* `insert` - to insert an element at the index specified. All the elements from that index will be moved to right side.
* `extend` - to extend the list by appending elements from other list.
* We can also append the list using `+`

In [12]:
l = [1, 2, 3, 4]

In [13]:
l.append?

In [14]:
l.append(5)

In [15]:
l

[1, 2, 3, 4, 5]

In [16]:
l = l + [6]

In [17]:
l

[1, 2, 3, 4, 5, 6]

In [18]:
l = l + [7, 8, 9, 10]

In [19]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
l.insert(3, 13) # insert at 3rd index i.e., 4th position

In [21]:
l

[1, 2, 3, 13, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l.extend([11, 12])   # we can pass any iterable in extend such as a list

In [23]:
l

[1, 2, 3, 13, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
l.extend('a')

In [25]:
l

[1, 2, 3, 13, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'a']

In [26]:
l.extend({5,6})

In [27]:
l

[1, 2, 3, 13, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'a', 5, 6]

##### add to a list without append

In [28]:
x = [1, 2, 3]
y = [4, 5, 6]

In [29]:
x[:0] = y
x

[4, 5, 6, 1, 2, 3]

In [30]:
x = [1, 2, 3]
y = [4, 5, 6]

In [31]:
x[0:] = y
x

[4, 5, 6]

In [32]:
x = [1, 2, 3]
y = [4, 5, 6]

In [33]:
x[len(x):] = y
x

[1, 2, 3, 4, 5, 6]

In [34]:
# appending a single element
# same as x.append(4)
x = [1, 2, 3]
x[len(x):] = [4]
x

[1, 2, 3, 4]

##### updating a list

In [35]:
l = [1, 2, 3, 4]

In [36]:
l[1] = 100

In [37]:
l

[1, 100, 3, 4]

##### deleting from a list

* There are multiple functions to delete elements from list.
  * `remove` - delete the first occurrence of the element from the list.
  * `pop` - delete the element from the list using index.
  * `clear` - deletes all the elements from the list.

In [38]:
l = [1, 2, 3, 4, 6, 5, 6]

In [39]:
l.remove(6) # removes first occurence of the specified element

In [40]:
l

[1, 2, 3, 4, 5, 6]

In [41]:
l.pop()

6

In [42]:
l

[1, 2, 3, 4, 5]

In [43]:
l.pop(2)   # remove from the index 2

3

In [44]:
l

[1, 2, 4, 5]

In [45]:
l.clear()

In [46]:
l

[]

##### Adding and Deleting elements - set

* We can add elements to `set` or update existing ones.
  * `add`
  * `update`
  * `union`
* We can delete elements from the `set` using different functions.
  * `pop`
  * `remove`
  * `discard`
  * `clear`

In [47]:
s = {1, 2, 3, 3, 3, 4, 4}

In [48]:
s

{1, 2, 3, 4}

In [49]:
s.add(5)

In [50]:
s

{1, 2, 3, 4, 5}

In [51]:
s.update({4, 5, 6, 7}) # Updates the set on which update is invoked

In [52]:
s

{1, 2, 3, 4, 5, 6, 7}

In [53]:
s.union({8, 9}) # Creates new set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
s   # notice how original s was not updated

{1, 2, 3, 4, 5, 6, 7}

##### What about joining 4 different sets?

In [1]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
print(s1.union(s2).union(s3).union(s4))
print(s1.union(s2, s3, s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
{*s1, *s2, *s3, *s4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
s.pop()

1

In [56]:
s

{2, 3, 4, 5, 6, 7}

In [57]:
s.remove(7)

In [58]:
s

{2, 3, 4, 5, 6}

In [59]:
s.remove(7)     # 7 does not exist, throws KeyError

KeyError: 7

In [60]:
s.discard(7)     # 7 does not exist, no error thrown

In [61]:
s

{2, 3, 4, 5, 6}

In [62]:
s.discard(2)

In [63]:
s

{3, 4, 5, 6}

In [64]:
# Creating new collection retaining duplicates using 2 sets
s1 = {'2013-07-25 00:00:00.0', '2013-07-26 00:00:00.0', '2014-01-25 00:00:00.0'}
s2 = {'2013-08-25 00:00:00.0', '2013-08-26 00:00:00.0', '2014-01-25 00:00:00.0'}

In [65]:
s1.union(s2) # duplicates are removed

{'2013-07-25 00:00:00.0',
 '2013-07-26 00:00:00.0',
 '2013-08-25 00:00:00.0',
 '2013-08-26 00:00:00.0',
 '2014-01-25 00:00:00.0'}

In [66]:
s = list(s1) + list(s2) # duplicates retained

In [67]:
s

['2013-07-26 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2014-01-25 00:00:00.0',
 '2013-08-26 00:00:00.0',
 '2013-08-25 00:00:00.0',
 '2014-01-25 00:00:00.0']

In [68]:
set(s)

{'2013-07-25 00:00:00.0',
 '2013-07-26 00:00:00.0',
 '2013-08-25 00:00:00.0',
 '2013-08-26 00:00:00.0',
 '2014-01-25 00:00:00.0'}

* `dict`
  * Group of heterogeneous elements
  * Each element is a key value pair.
  * All the keys are unique in the `dict`.
  * `dict` can be created by enclosing elements in `{}`. Key Value pair in each element are separated by `:` - example `{1: 'a', 2: 'b', 3: 'c', 4: 'd'}`
  * Empty `dict` can be initialized using `{}` or `dict()`.
* `tuple`
  * Group of heterogeneous elements.
  * We can access the elements in `tuple` only by positional notation (by using index)
  * `tuple` can be created by enclosing elements in `()` - example `(1, 2, 3, 4)`.

##### Accessing elements in a tuple

* `tuple` is by definition immutable and hence we will not be able to add elements to a tuple or delete elements from a tuple.
* Only functions that are available are `count` and `index`.
* `count` gives number of times an element is repeated in a tuple.
* `index` returns the position of element in a tuple. `index` can take up to 3 arguments - `element`, `start` and `stop`.`

In [69]:
t = (1, 2, 3, 4, 4, 6, 1, 2, 3)

In [70]:
help(t)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [71]:
t.count?

In [72]:
t

(1, 2, 3, 4, 4, 6, 1, 2, 3)

In [73]:
t.count(4)

2

In [74]:
t.index(2, 3) # Scans all the elements starting from 4th,returns the first occurence of 2

7

In [75]:
t.index(6, 3, 6) # Scans all the elements starting from 4th till 6th, returns the first occurence of 6 in that range

5

In [76]:
t.index(6, 3, 5) # Scans all the elements starting from 4th till 5th, values error as 6 is not in that range

ValueError: tuple.index(x): x not in tuple

##### Accessing elements in a dict

* We can access a value of a particular element in `dict` by passing key `d[key]`. If the key does not exists, it will throw **KeyError**.
* `get` also can be used to access a value of particular element in `dict` by passing key as argument. However, if key does not exists, it will return None.
* We can also pass a default value to `get`.
* We can get all the keys in the form of set like object by using `keys` and all the values in the form of list like object by using `values`.
* We can also use `items` to convert a `dict` into a set like object with pairs. Each element (which is a pair) in the set like object will be a tuple.
* Let us see few examples.

In [77]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [78]:
d['id']

1

In [79]:
d['first_name']

'Scott'

In [80]:
d['commission_pct'] # throws key error

KeyError: 'commission_pct'

In [81]:
d.get('first_name')

'Scott'

In [82]:
d.get('commission_pct') # Returns None

In [83]:
d.get('first_name', 'Some First Name')   # 'Some First Name' is a default value when key is not found

'Scott'

In [84]:
d.get('commission_pct', 0)

0

In [85]:
d.keys()

dict_keys(['id', 'first_name', 'last_name', 'amount'])

In [86]:
d.values()

dict_values([1, 'Scott', 'Tiger', 1000.0])

In [87]:
d.items()

dict_items([('id', 1), ('first_name', 'Scott'), ('last_name', 'Tiger'), ('amount', 1000.0)])

In [88]:
list(d.items())[0]

('id', 1)

In [89]:
type(list(d.items())[1])

tuple

##### manipulating dict

* We can add new key value pairs to `dict` by using typical assignment.
* We can also use assignment operation to update existing key value pair in the `dict`.
* `setdefault` can be used to get the element from the `dict` by using key. If key does not exist, it will update the `dict` with the key passed along with default value.
* `update` can be used to merge a list of pairs (2 tuples) or a `dict` into the `dict`.
* Elements from the dict can be removed using functions like `pop` and `popitem`.
  * `pop` is typically used to remove the element using key.
  * `popitem` is used to remove one of the item (typically last) from the `dict`.

In [90]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [91]:
d['commission_pct'] = 10 # Adding Element

In [92]:
d['phone_numbers'] = 1234567890

In [93]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 10,
 'phone_numbers': 1234567890}

In [94]:
d['amount'] = 1500.0 # update

In [95]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1500.0,
 'commission_pct': 10,
 'phone_numbers': 1234567890}

In [96]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [97]:
d.setdefault('amount')   # if element exists works like get(), if not existing will add

1000.0

In [98]:
d.setdefault('commission_pct')

In [99]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': None}

In [100]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [101]:
d.setdefault('commission_pct', 0)

0

In [102]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 0}

##### Dictionary unpacking

`*` for dictionaries unpacks the keys only.

In [3]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}
[*d1, *d2]

['key1', 'key2', 'key2', 'key3']

In [4]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}

{**d1, **d2}

{'key1': 1, 'key2': 3, 'key3': 3}

Notice what happened to the value of key2. The value for the second occurrence of key2 was retained (overwritten).

In fact, if we write the unpacking reversing the order of d1 and d2:

In [5]:
{**d2, **d1}

{'key2': 2, 'key3': 3, 'key1': 1}


we see that the value of key2 is now 2, since it was the second occurrence.

In [103]:
d = {'id': 1}

In [104]:
d.update({'first_name': 'Donald', 'last_name': 'Duck'})

In [105]:
d

{'id': 1, 'first_name': 'Donald', 'last_name': 'Duck'}

In [106]:
d.update([('amount', 1500.0), ('commission_pct', 5), ('phone_numbers', 1234567890)])

In [107]:
d

{'id': 1,
 'first_name': 'Donald',
 'last_name': 'Duck',
 'amount': 1500.0,
 'commission_pct': 5,
 'phone_numbers': 1234567890}

In [108]:
d.pop('phone_numbers')

1234567890

In [109]:
d

{'id': 1,
 'first_name': 'Donald',
 'last_name': 'Duck',
 'amount': 1500.0,
 'commission_pct': 5}

In [110]:
d.pop('phone_numbers') # throws KeyError

KeyError: 'phone_numbers'

In [111]:
d.pop('phone_numbers', 'No such key exists')

'No such key exists'

In [112]:
d.pop('first_name')

'Donald'

In [113]:
d

{'id': 1, 'last_name': 'Duck', 'amount': 1500.0, 'commission_pct': 5}

In [114]:
d.popitem()

('commission_pct', 5)

In [115]:
d

{'id': 1, 'last_name': 'Duck', 'amount': 1500.0}

##### Row level transformations


Let us understand how to perform row level transformations using orders data set. Here are the details about orders.
* Data is in text file format
* Each line in the file contains one record.
* Each record contains 4 attributes which are separated by ,
  * order_id
  * order_date
  * order_customer_id
  * order_status

In [181]:
path = 'C:\\Users\\SubhayanGhosh\\Desktop\\SM\\Python\\Data\\orders\\part-00000'
orders_file = open(path)

In [117]:
type(orders_file)

_io.TextIOWrapper

In [118]:
orders_raw = orders_file.read() # converts the entire file into a single string

In [119]:
type(orders_raw)

str

In [120]:
orders = orders_raw.splitlines() # entire string is split on newline and a list is formed

In [121]:
type(orders)

list

In [122]:
orders[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

##### Task 1

_Get all order ids and associated statuses. Each record in the output should be comma separated string._

In [123]:
order = '1,2013-07-25 00:00:00.0,11599,CLOSED' # -> '1,CLOSED'

In [124]:
order_ids = [order.split(',')[0] for order in orders]

In [125]:
# We invokde join on delimiter

In [126]:
':'.join(['1', '2', '3', '4'])

'1:2:3:4'

In [127]:
order.split(',')[0]

'1'

In [128]:
order.split(',')[3]

'CLOSED'

In [129]:
[order.split(',')[0], order.split(',')[3]]

['1', 'CLOSED']

In [130]:
','.join([order.split(',')[0], order.split(',')[3]])

'1,CLOSED'

In [131]:
type(','.join([order.split(',')[0], order.split(',')[3]]))

str

In [132]:
order_statuses = []
for order in orders:
    order_statuses.append(','.join([order.split(',')[0], order.split(',')[3]]))

In [133]:
order_statuses[:10]

['1,CLOSED',
 '2,PENDING_PAYMENT',
 '3,COMPLETE',
 '4,CLOSED',
 '5,COMPLETE',
 '6,COMPLETE',
 '7,COMPLETE',
 '8,PROCESSING',
 '9,PENDING_PAYMENT',
 '10,PENDING_PAYMENT']

In [134]:
order_statuses = [','.join([order.split(',')[0], order.split(',')[3]]) for order in orders]

In [135]:
order_statuses[:10]

['1,CLOSED',
 '2,PENDING_PAYMENT',
 '3,COMPLETE',
 '4,CLOSED',
 '5,COMPLETE',
 '6,COMPLETE',
 '7,COMPLETE',
 '8,PROCESSING',
 '9,PENDING_PAYMENT',
 '10,PENDING_PAYMENT']

##### Task 2

Get all order ids, the dates on which order is placed and order status. Each record in the output should be dict with following column names as keys.
* order_id
* order_date
* order_status

In [136]:
def get_order_details(order):
    """Extract order details such as id, date as well as status and return as dict"""
    order_values = order.split(',')
    return ({
        'order_id': int(order_values[0]),
        'order_date': order_values[1],
        'order_status': order_values[3]
    })

In [137]:
get_order_details('1,2013-07-25 00:00:00.0,11599,CLOSED')

{'order_id': 1,
 'order_date': '2013-07-25 00:00:00.0',
 'order_status': 'CLOSED'}

In [138]:
order_details = []
for order in orders:
    order_details.append(get_order_details(order))

In [139]:
order_details[:5]

[{'order_id': 1,
  'order_date': '2013-07-25 00:00:00.0',
  'order_status': 'CLOSED'},
 {'order_id': 2,
  'order_date': '2013-07-25 00:00:00.0',
  'order_status': 'PENDING_PAYMENT'},
 {'order_id': 3,
  'order_date': '2013-07-25 00:00:00.0',
  'order_status': 'COMPLETE'},
 {'order_id': 4,
  'order_date': '2013-07-25 00:00:00.0',
  'order_status': 'CLOSED'},
 {'order_id': 5,
  'order_date': '2013-07-25 00:00:00.0',
  'order_status': 'COMPLETE'}]

In [140]:
len(order_details)  # validate

68883

##### store unique dates

In [141]:
order_dates = {}

In [142]:
type(order_dates)

dict

In [143]:
order_dates = set()

In [144]:
type(order_dates)

set

In [145]:
for order in orders:
    order_dates.add(order.split(',')[1])

In [146]:
list(order_dates)[:10]

['2013-12-06 00:00:00.0',
 '2013-08-16 00:00:00.0',
 '2013-08-27 00:00:00.0',
 '2013-09-09 00:00:00.0',
 '2014-06-09 00:00:00.0',
 '2014-04-08 00:00:00.0',
 '2013-09-07 00:00:00.0',
 '2014-05-01 00:00:00.0',
 '2013-11-12 00:00:00.0',
 '2014-02-11 00:00:00.0']

In [147]:
order_dates = {order.split(',')[1] for order in orders}

In [148]:
list(order_dates)[:10]

['2013-12-06 00:00:00.0',
 '2013-08-16 00:00:00.0',
 '2013-08-27 00:00:00.0',
 '2013-09-09 00:00:00.0',
 '2014-06-09 00:00:00.0',
 '2014-04-08 00:00:00.0',
 '2013-09-07 00:00:00.0',
 '2014-05-01 00:00:00.0',
 '2013-11-12 00:00:00.0',
 '2014-02-11 00:00:00.0']

##### Get all unique weekend dates

In [149]:
order_date = '2014-01-25 00:00:00.0'

In [150]:
import datetime as dt

In [151]:
dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f')

datetime.datetime(2014, 1, 25, 0, 0)

In [152]:
d = dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f')

In [153]:
d.weekday?

In [154]:
dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f').weekday() # Returns 0 to 6 (for Monday to Sunday)

5

In [155]:
import calendar

In [156]:
list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [157]:
calendar.day_name[5]

'Saturday'

In [158]:
calendar.day_name[dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f').weekday()]

'Saturday'

In [159]:
calendar.day_abbr[dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f').weekday()]

'Sat'

In [160]:
dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f').weekday() in (5, 6)

True

In [161]:
import datetime as dt
def is_weekend(order_date):
    return dt.datetime.strptime(order_date, '%Y-%m-%d %H:%M:%S.%f').weekday() in (5, 6)

In [162]:
is_weekend('2014-01-25 00:00:00.0')

True

In [163]:
is_weekend('2014-01-22 00:00:00.0')

False

In [164]:
weekend_dates = set()
for order in orders:
    order_date = order.split(',')[1]
    if is_weekend(order_date):
        weekend_dates.add(order_date)

In [165]:
list(weekend_dates)[:10]

['2013-11-24 00:00:00.0',
 '2014-06-15 00:00:00.0',
 '2013-09-01 00:00:00.0',
 '2013-11-17 00:00:00.0',
 '2014-01-19 00:00:00.0',
 '2014-03-29 00:00:00.0',
 '2014-07-19 00:00:00.0',
 '2014-01-25 00:00:00.0',
 '2013-09-07 00:00:00.0',
 '2013-12-07 00:00:00.0']

In [166]:
len(weekend_dates)

103

##### Task 3

Create a function by name get_customer_orders which take orders list and customer_id as arguments and return all the orders placed by customer_id

In [167]:
def get_customer_orders(orders, customer_id):
    orders_filtered = []
    for order in orders:
        if int(order.split(',')[2]) == customer_id:
            orders_filtered.append(order)
    return orders_filtered

In [168]:
# Use the function and get all the orders which are placed by customer with id 12431
get_customer_orders(orders, 12431)

['3774,2013-08-16 00:00:00.0,12431,CANCELED',
 '3870,2013-08-17 00:00:00.0,12431,PENDING_PAYMENT',
 '4032,2013-08-17 00:00:00.0,12431,ON_HOLD',
 '22812,2013-12-12 00:00:00.0,12431,PENDING',
 '22927,2013-12-13 00:00:00.0,12431,CLOSED',
 '25614,2013-12-30 00:00:00.0,12431,CLOSED',
 '27585,2014-01-12 00:00:00.0,12431,PROCESSING',
 '28244,2014-01-15 00:00:00.0,12431,PENDING_PAYMENT',
 '29109,2014-01-21 00:00:00.0,12431,ON_HOLD',
 '29232,2014-01-21 00:00:00.0,12431,ON_HOLD',
 '45894,2014-05-06 00:00:00.0,12431,CLOSED',
 '46217,2014-05-07 00:00:00.0,12431,CLOSED',
 '49678,2014-05-31 00:00:00.0,12431,PENDING',
 '51865,2014-06-15 00:00:00.0,12431,PROCESSING',
 '63146,2014-02-13 00:00:00.0,12431,PENDING_PAYMENT',
 '67110,2014-07-14 00:00:00.0,12431,PENDING']

##### Task4

Create a function by name get_customer_orders_for_month which take orders list, customer_id and month in the format YYYY-MM as arguments and return all the orders placed by customer_id for a given month.

In [169]:
order = '3,2013-07-25 00:00:00.0,12111,COMPLETE'

In [170]:
order.split(',')[1].startswith('2013-07')

True

In [171]:
import datetime as dt
d = dt.datetime.strptime(order.split(',')[1], '%Y-%m-%d %H:%M:%S.%f')

In [172]:
d.year == 2013 and d.month == 7

True

In [173]:
int(order.split(',')[2]) == 12111 and order.split(',')[1].startswith('2013-07')

True

In [174]:
def get_customer_orders_for_month(orders, customer_id, order_month):
    orders_filtered = []
    for order in orders:
        order_elements = order.split(',')
        if (int(order_elements[2]) == customer_id and
            order_elements[1].startswith(order_month)):
            orders_filtered.append(order)
    return orders_filtered

In [175]:
# Use the function and get all the orders which are placed by customer with id 12431 in January 2014
get_customer_orders_for_month(orders, 12431, '2014-01')

['27585,2014-01-12 00:00:00.0,12431,PROCESSING',
 '28244,2014-01-15 00:00:00.0,12431,PENDING_PAYMENT',
 '29109,2014-01-21 00:00:00.0,12431,ON_HOLD',
 '29232,2014-01-21 00:00:00.0,12431,ON_HOLD']

##### Task 5

Write ad hoc code to get all the orders which are placed by customer with id 12431 in January 2014 and status is in PENDING_PAYMENT or PROCESSING

In [176]:
for order in orders:
    order_elements = order.split(',')
    if int(order_elements[2]) == 12431 \
        and order_elements[1].startswith('2014-01') \
        and (order_elements[3] in ('PROCESSING', 'PENDING_PAYMENT')):
        print(order)

27585,2014-01-12 00:00:00.0,12431,PROCESSING
28244,2014-01-15 00:00:00.0,12431,PENDING_PAYMENT

##### Performing total aggregates

In [182]:
# read the dataset loading notebook

%run load_dataset.ipynb

In [185]:
orders[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

In [184]:
order_items[:10]

['1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99',
 '3,2,502,5,250.0,50.0',
 '4,2,403,1,129.99,129.99',
 '5,4,897,2,49.98,24.99',
 '6,4,365,5,299.95,59.99',
 '7,4,502,3,150.0,50.0',
 '8,4,1014,4,199.92,49.98',
 '9,5,957,1,299.98,299.98',
 '10,5,365,5,299.95,59.99']

##### Nested unpacking

In [6]:
a, b, (c, d) = [1, 2, ['X', 'Y']]
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

In [8]:
a, b, (c, d) = [1, 2, 'XY']
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

In [9]:
a, b, (c, d, *e) = [1, 2, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
p
y
['t', 'h', 'o', 'n']

In [10]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']