#### 1. https://pynative.com/print-pattern-python-examples/
#### 2. https://www.programminginpython.com/pyramid-pattern-python/
#### 3. https://www.geeksforgeeks.org/programs-printing-pyramid-patterns-python/
#### 4. https://www.edureka.co/blog/python-pattern-programs/

In [1]:
# 10 is the total number to print
for row in range(10):
    for column in range(row):
        print (row, end=" ") #print number
    # new line after each row to display pattern correctly
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [2]:
last_number = int(input())
for row in range(last_number):
    for column in range(1, row+1):
        print(column, end=' ')
    print('')

5

1
1 2
1 2 3
1 2 3 4

In [3]:
last_number = int(input())
for row in range(last_number):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print('')

5

1
2 1
3 2 1
4 3 2 1

In [15]:
last_number = int(input())
for row in range(last_number):
    #     for column in range(row, 0, -1):
      for column in range(1,row+1, 1):
        print('*', end=' ')
      print('')

5

*
* *
* * *
* * * *

In [16]:
two_to_the_pow = int(input())
for row in range(two_to_the_pow):
    for column in range(row, -1, -1):
        print(format(2**column, '4d'), end = ' ')
    print('')

5
   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1

In [17]:
li = list()
for i in range(5):
    li.append(i)
print(str(li).strip('[]'))

0, 1, 2, 3, 4